<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="{{ url_for('static',  filename= 'css/style.css')}}">
    <title>User Dashboard</title>
</head>
<body>
<div class="topnav">
  <a href="{{ url_for('dashboard')}}">Dashboard</a>
  <a href="{{ url_for('hello')}}">Reservations</a>
  <a class="active" href="{{ url_for('admin')}}">Admin Panel</a>
</div>
<div id="wrapper">
  <div id="left" style="background-color: lightgrey; margin-top:40px;">
      <h1>All Workspaces:</h1>
      <form action="/workspaces" method="post" enctype="application/json">
                <input type="text" placeholder="Workspace name" name="name" value="{{request.form.name}}">
          <input  class="button button2" type="submit" value="Add workspace">
      </form>
      <ul>
          {% for workspace in workspaces %}
          <li>
              <div id="{{workspace.id}}">
                  <h3>{{workspace.name}} </h3>
                  <button class="button button2" onclick="deleteWorkspace(this.parentNode.id)">Delete</button>
              </div>
          </li>
          {% endfor %}
      </ul>
      <div id="availabletimes"></div>
  </div>
  <div id="right" style="background-color: lightgrey; margin-top:40px;">
      <h1>All Reservations:</h1>
      <ul>
          {% for reservation in reservations %}
          <li>
              <div id="{{ reservation.id }}}">
                  <h2>Reservation at {{reservation.datetime}}</h2>
                  <h4>Workspace {{reservation.name}}</h4>
<button  class="button button2" onclick="editReservation(this.parentNode.id)">Edit</button>
                  <button class="button button2" onclick="deleteReservation(this.parentNode.id)">Delete</button>
              </div>
          </li>
          {% endfor %}
      </ul>



  </div>
    <div id="center" style="background-color: lightgrey; margin-top:40px;">
        <h1>All Clients:</h1>
        <a href="{{ url_for('registrationform')}}"  class="button button2">Create User</a>
      <ul>
          {% for client in clients %}
          <li>
              <div id="{{ client.id }}">
                  <h2>User {{client.username}}</h2>
                  <h4>{{client.name}}</h4>
                  <h4>{{client.email}}</h4>
                    <button class="button button2" onclick="editUser({{ client.id }}, {{ client.username }}, {{ client.name }}, {{ client.email }})">Edit</button>
                  <button class="button button2" onclick="deleteUser({{client.id}})">Delete</button>
              </div>
          </li>
          {% endfor %}
      </ul>
              <div id="edit"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>

    function deleteWorkspace(id) {
    setid = id
    console.log(id)
        $.ajax({
            url: "/deleteworkspace",
            type: "get",
            data: {jsdata: setid},
            success: function(response){
                $("#availabletimes").html(response);
            },
            error: function(xhr){
            }
        });
    }

    function editUser(id, username, name, email) {
    console.log("bruh")

    }

    function deleteReservation(id) {
    setid = id
    console.log(id)
        $.ajax({
            url: "/deletereservation",
            type: "get",
            data: {jsdata: setid},
            success: function(response){
                $("#availabletimes").html(response);
            },
            error: function(xhr){
            }
        });
    }

    function deleteUser(id) {
    setid = id
    console.log(id)
        $.ajax({
            url: "/deleteuser",
            type: "get",
            data: {jsdata: setid},
            success: function(response){
                $("#availabletimes").html(response);
            },
            error: function(xhr){
            }
        });
    }
</script>
</body>
</html>